# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\Users\hieu\Java project\7. Abstract Class & Interface\[Thuc hanh] Thuc hanh trien khai interface 'Comparable' cho cac lop hinh hoc\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
